// Custom styles.
// 单行代码
code.highlighter-rouge {
  color: #f44337;
}

// 加粗字体
div.posts-expand article strong {
  font-size: 13px;
  padding: 0 5px;
  display: inline-block;
  color: white;
  border-radius: 5px;
}

// 修复多行代码左侧行数显示高度可能不饱和的问题
article .gutter {
  background-color: #292929;
}

// 修复多行代码右侧内容区在手机下高度可能不饱和的问题
article .code {
  background-color: #000000;
}

// mist和muse模式下首页布局调整
.mist,
.muse {
  // 首页导航栏
  .main .main-inner {
    position: relative;
  }

  .main .main-category {
    position: fixed;
    top: 200px;
    transform: translateX(0);
    transition: all .5s;
    display: none;
  }

  .main .main-category .category-list {
    list-style: none;
  }

  .main .main-category .category-list .category-list-item {
    margin: 5px 10px;
  }

  .main .main-category .category-list .category-list-count {
    color: #bbbbbb;
  }

  .main .main-category .category-list .category-list-count::before {
    display: inline;
    content: '(';
  }

  .main .main-category .category-list .category-list-count::after {
    display: inline;
    content: ')';
  }

  @include desktop() {
    // 首页导航栏
    .main .main-inner .main-category {
      display: block;
    } 
    // 首页顶栏
    .header .header-inner {
      padding-left: 300px;
    } 
    // 首页内容区
    .main .main-inner .content-wrap {
      padding-left: 300px;
    }
  }
}

// mist 模式下也显示副标题
.mist {
	.header  {
		.site-meta {
			.custom-logo-site-title {
				display: inline-block;
			}

			.site-subtitle {
				display: inline-block;
				margin: 0;
				margin-left: 10px;
				bottom: 30px;
				top: auto !important;
				position: absolute;
			}

			@include mobile() {
				.site-subtitle {
					bottom: 20px;
				}
			}	
		} 
	}
}