// Custom styles.
// 单行代码
code.highlighter-rouge {
  color: #f44337;
}

// 加粗字体
div.posts-expand article strong {
  font-size: 13px;
  padding: 0 5px;
  display: inline-block;
  color: white;
  border-radius: 5px;
}

// 修复多行代码左侧行数显示高度可能不饱和的问题
article .gutter {
  background-color: #292929;
}

// 修复多行代码右侧内容区在手机下高度可能不饱和的问题
article .code {
  background-color: #000000;
}

// 文章标题和文章主体的外边距
.post-header .post-meta {
  margin-bottom: 50px;
}

// 版权标注
.copyright-marking {
  font-size: 16px;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22),
  color-stop(0.15, #f2f),
  color-stop(0.3, #22f),
  color-stop(0.45, #2ff),
  color-stop(0.6, #2f2),
  color-stop(0.75, #2f2),
  color-stop(0.9, #ff2),
  color-stop(1, #f22));
  color: transparent;
  -webkit-background-clip: text;
}

.post-header .copyright-marking {
  text-align: left;
  margin-top: 30px;
}

.post-footer .copyright-marking {
  margin-top: 50px;
}

// mist和muse模式下首页布局调整
.mist,
.muse {
  // 首页导航栏
  .main .main-inner {
    position: relative;
  }

  .main .main-category {
    height: calc(100% - 200px);
    overflow: auto;
    position: fixed;
    top: 200px;
    transform: translateX(0);
    transition: all .5s;
    display: none;
  }

  .main .main-category .category-list {
    list-style: none;
  }

  .main .main-category .category-list .category-list-item {
    margin: 5px 10px;
  }

  .main .main-category .category-list .category-list-count {
    color: #bbbbbb;
  }

  .main .main-category .category-list .category-list-count::before {
    display: inline;
    content: '(';
  }

  .main .main-category .category-list .category-list-count::after {
    display: inline;
    content: ')';
  }

  @include desktop() {
    // 首页导航栏
    .main .main-inner .main-category {
      display: block;
    } // 首页内容区
    .main .main-inner .content-wrap {
      padding-left: 300px;
    }
  }
}

// mist 模式下也显示副标题
.mist {
  .header {
    .site-meta {
      margin-left: 0;
      display: flex;
      align-items: center;

      .custom-logo-site-title {
        display: inline-block;
      }

      .site-subtitle {
        display: inline-block;
        margin: 0;
        margin-left: 10px;
        position: relative;
      }

      @include mobile() {
        .site-subtitle {
          bottom: 20px;
        }
      }
    }
  }

  .main {
    .main-category .category-list {
      padding-left: 0;
    }
  }
}